body{
	background-image: url('/img/subtlenet2.png');
	padding-top: 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h1, h2, h3, h4, h5, h6 {
	font-family: 'Arvo', Georgia, Times, serif;
}
 
p {
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}

.page-header{
	position: relative;
	background: #333 url('/img/txture.png');
	margin-top: 0;
}

.hero-unit{
	position: relative;
	color: #ccc;
	background: transparent;
}

.hero-unit h1{
	color: #fff;
}

.page-header .dates{
	position: absolute;
	top: 20px;
	right: 20px;
	font-family: 'Arvo', Georgia, Times, serif;
	text-transform: uppercase;
}

.page-header sup{
	text-transform: none;
}

.thumbnail{
	background: #fff;
}

.events .thumbnail{
	min-height: 400px;
}

@media (max-width: 767px) {
	.events .thumbnail{
		min-height: 600px;
	}
}

.thumbnail .dates{
	font-size: 1em;
	margin-bottom: 10px;
	line-height: 1.1;
}

.thumbnail p, .thumbnail h3, .thumbnail h4{
	padding: 0 10px;
}

.category{
	margin-top: 25px;
}

.contributors{
	font-size: 0.9em;
}

.timeline{
	background: #333;
	color: #fefefe;
	padding-bottom: 30px;

	-webkit-box-shadow: inset 0px 0px 6px 4px rgba(0, 0, 0, .5);
	box-shadow: inset 0px 0px 6px 4px rgba(0, 0, 0, .5);
}

footer{
	padding: 20px 0;
	text-align: center;
}

footer h4{
	display: inline-block;
	padding: 0 10px;
	color: #666;
	opacity: 0.5;
}

footer h4:hover{
	opacity: 1;
}

[class^="tw-icon-"], [class*=" tw-icon-"] {
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-top: 1px;
	line-height: 25px;
	vertical-align: text-top;
	background-image: url("../img/twitter-icons.png");
	background-position: 14px -5px;
	background-repeat: no-repeat;
}

.tw-icon-bird {
	background-position: -6px -4px;
}
.tw-icon-bird:hover {
	background-position: -6px -65px;
}
.tw-icon-bird:active {
	background-position: -6px -32px;
}


.tw-icon-at {
	background-position: -86px -4px;
}
.tw-icon-at:hover {
	background-position: -86px -66px;
}
.tw-icon-at:active {
	background-position: -86px -34px;
}

.tw-icon-hash {
	background-position: -43px -4px;
}
.tw-icon-hash:hover {
	background-position: -43px -66px;
}
.tw-icon-hash:active {
	background-position: -43px -34px;
}

.tw-icon-user {
	background-position: -125px -4px;
}
.tw-icon-user:hover {
	background-position: -125px -66px;
}
.tw-icon-user:active {
	background-position: -125px -34px;
}

.tw-icon-cog {
	background-position: -166px -4px;
}
.tw-icon-cog:hover {
	background-position: -166px -66px;
}
.tw-icon-cog:active {
	background-position: -166px -34px;
}

.tw-icon-github {
	background-position: -204px -4px;
}
.tw-icon-github:hover {
	background-position: -204px -66px;
}
.tw-icon-github:active {
	background-position: -204px -34px;
}







